* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('Images/forest.jpg');
}

#main-box {
    width: 1300px;
    height: auto;
    margin-left: 300px;
    margin-top: 30px;
    background-color: #FFF2EB;
    border-radius: 15px
}

/** navbar **/

nav {
    display: flex;
    background-color: #FFF2EB;
    border-radius: 5px;
}

span {
    color: black;
    font-weight: 700;
}

.nav4 a {
    color: black;
    text-decoration: none;
    margin-left: 40px;
    font-size: 12px;
    font-weight: 550;

}

.nav4 i {
    margin-left: 25px;
    margin-top: 20px;
}

/* Dropdown Button */
.dropbtn {
    border: none;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 24px;
    font-size: 12px;
    background-color: #FFF2EB;
    color: black;
    font-weight: 550;

}

/* dropdown button hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #FFD6BA;
}

.nav-last {
    margin-left: 560px;
    margin-top: 10px;
    display: inline-flex;
}

.contact {
    padding: 6px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.dashbrd {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: brown;
    color: #FFF2EB;
    cursor: pointer;
}


/* Image */
.img-column {
    padding-left: 10px;
    padding-top: 8px;
    display: inline-block;
}

.img-column img {
    width: 600px;
    height: 870px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#content-box {
    display: flex;
    flex-direction: row;
}

/* form section */

.form-head {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 150px;
    gap: 10px;
}

.fname {
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;

    & input {
        height: 30px;
        width: 200px;
        border: none;
        border-radius: 5px;
    }
}


.lname {
    display: inline-block;

    & input {
        height: 30px;
        width: 200px;
        border: none;
        border-radius: 5px;
    }
}

.email {
    margin-top: 15px;

    & input {
        height: 30px;
        width: 425px;
        border: none;
        border-radius: 5px;
    }
}

.phone {
    margin-top: 15px;

    & input {
        height: 30px;
        width: 425px;
        border: none;
        border-radius: 5px;
    }
}

.company-size {
    margin-top: 15px;

    & select {
        height: 30px;
        width: 425px;
        border: none;
        border-radius: 5px;
    }
}

.country {
    margin-top: 15px;

    & select {
        height: 30px;
        width: 425px;
        border: none;
        border-radius: 5px;
    }
}

.payments-volume {
    margin-top: 15px;

    & select {
        height: 30px;
        width: 425px;
        border: none;
        border-radius: 5px;
    }
}

.products-check {
    margin-top: 15px;

    & p {
        margin-bottom: 8px;
    }
}

.products-check input[type="checkbox"] {
    margin-bottom: 10px;
}

.cb-label {
    font-size: 14px;
    font-weight: 400;
}

.text-box {
    margin-top: 15px;

    & textarea {
        margin-top: 7px;
        height: 80px;
        width: 425px;
        border: none;
        border-radius: 5px;
        resize: none;
        font-size: 12px;
        padding-top: 7px;
        font-weight: 300;
    }
}

.main-label {
    font-weight: 700;
}

.button {
    margin-top: 20px;

    & input {
        height: 30px;
        width: 425px;
        font-weight: 700;
        border: none;
        border-radius: 10px;
        background-color: brown;
        color: antiquewhite;
    }
}